In [94]:
import pandas as pd
df = pd.read_csv('data.csv')
df.shape

(35064, 8)

In [95]:
df.describe()

,TEMPERATURE,HUMIDITY,PRESSURE,WIND,RAIN,CLOUD,SNOW,TH_INDEX
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000
mean,13.307449,0.577856,1006.039474,2.041236,0.125493,4.247547,0.041453,56.800731
std,11.342397,0.199998,16.361914,1.154719,1.104223,4.114479,0.347590,15.350609
min,-18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.090400
25%,3.800000,0.420000,999.900000,1.200000,0.000000,0.000000,0.000000,43.821365
50%,14.400000,0.570000,1006.400000,1.900000,0.000000,3.000000,0.000000,57.944640
75%,22.900000,0.740000,1012.500000,2.800000,0.000000,9.000000,0.000000,69.986870
max,39.400000,1.000000,1028.300000,9.100000,50.500000,10.000000,8.800000,87.857100

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [103]:
weather_data = pd.read_csv('data.csv')
weather_data.describe()

,TEMPERATURE,HUMIDITY,PRESSURE,WIND,RAIN,CLOUD,SNOW,TH_INDEX
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000
mean,13.307449,0.577856,1006.039474,2.041236,0.125493,4.247547,0.041453,56.800731
std,11.342397,0.199998,16.361914,1.154719,1.104223,4.114479,0.347590,15.350609
min,-18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13.090400
25%,3.800000,0.420000,999.900000,1.200000,0.000000,0.000000,0.000000,43.821365
50%,14.400000,0.570000,1006.400000,1.900000,0.000000,3.000000,0.000000,57.944640
75%,22.900000,0.740000,1012.500000,2.800000,0.000000,9.000000,0.000000,69.986870
max,39.400000,1.000000,1028.300000,9.100000,50.500000,10.000000,8.800000,87.857100

In [138]:
# genre 컬럼을 제외한 입력 데이터 셋 생성(주로 대문자)
X = weather_data.drop(columns=['TH_INDEX'],axis = 1)
# 출력 레이블 생성(주로 소문자)
y = weather_data['TH_INDEX'].astype(int)

In [136]:
X.describe()

,TEMPERATURE,HUMIDITY,PRESSURE,WIND,RAIN,CLOUD,SNOW
count,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000,35064.000000
mean,13.307449,0.577856,1006.039474,2.041236,0.125493,4.247547,0.041453
std,11.342397,0.199998,16.361914,1.154719,1.104223,4.114479,0.347590
min,-18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.800000,0.420000,999.900000,1.200000,0.000000,0.000000,0.000000
50%,14.400000,0.570000,1006.400000,1.900000,0.000000,3.000000,0.000000
75%,22.900000,0.740000,1012.500000,2.800000,0.000000,9.000000,0.000000
max,39.400000,1.000000,1028.300000,9.100000,50.500000,10.000000,8.800000

In [133]:
y.describe()

count    35064.000000
mean        56.300023
std         15.350873
min         13.000000
25%         43.000000
50%         57.000000
75%         69.000000
max         87.000000
Name: TH_INDEX, dtype: float64

In [187]:
model = DecisionTreeClassifier()
# 입력 데이터 셋과 출력 레이블 지정
model.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [182]:
predictions = model.predict( [[-2.1, 0.83, 1022, 1.6, 0, 0, 0],[-2.1, 0.83, 1022, 1.6, 0, 0, 0],[-9, 0, 0, 0, 0, 0, 0]] )

In [183]:
predictions

array([31, 31, 31])

In [184]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
model = DecisionTreeClassifier()
# 테스트 용 데이터 셋과 그렇지 않은 데이터 지정
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [186]:
predictions = model.predict(X_test)
score = accuracy_score(y_test, predictions)
score

0.8892057607300727

In [157]:
import joblib
joblib.dump(model, 'weather.joblib')

['weather.joblib']

In [158]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

joblib.load('weather.joblib') # 모델 불러오기

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [217]:
predictions = model.predict( [[-2.1, 0.83, 1022, 1.6, 0, 0, 0],[-2.1, 0.83, 1022, 1.6, 0, 0, 0],[-9, 0, 0, 0, 0, 0, 0]] )

In [218]:
predictions

array([31, 31, 31])